In [13]:
from sklearn import preprocessing
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sb

In [5]:
examData = pd.read_csv ('../Datasets/exams.csv', quotechar = '"')
examData

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group C,associate's degree,standard,none,82,80,76
1,female,group B,high school,standard,none,47,55,56
2,female,group D,associate's degree,free/reduced,none,65,73,79
3,female,group D,high school,free/reduced,none,42,53,51
4,female,group B,some college,standard,none,77,82,86
5,female,group D,some college,free/reduced,completed,78,76,88
6,male,group B,bachelor's degree,standard,completed,76,74,73
7,female,group D,some college,standard,none,89,100,100
8,female,group E,some high school,standard,completed,64,65,62
9,male,group B,high school,standard,none,62,56,53
10,male,group B,some college,free/reduced,none,49,43,38
11,male,group B,associate's degree,standard,none,92,86,82
12,male,group C,some college,standard,completed,63,55,61
13,male,group D,high school,free/reduced,none,84,78,74
14,male,group D,some college,free/reduced,completed,62,68,67
15,female,group E,master's degree,standard,none,58,57,66
16,female,group A,high school,standard,none,84,88,83
17,male,group D,some high school,standard,none,67,63,59
18,male,group C,some college,standard,none,36,26,28
19,female,group E,some high school,free/reduced,none,84,91,85
20,female,group C,associate's degree,standard,none,53,66,65
21,female,group C,some high school,standard,completed,71,74,76
22,female,group E,some college,free/reduced,completed,86,92,94
23,male,group B,bachelor's degree,standard,none,70,75,73
24,male,group A,associate's degree,standard,none,81,83,75
25,male,group A,some high school,standard,none,45,45,45
26,male,group D,some high school,standard,none,98,88,80
27,female,group C,some high school,standard,none,73,80,76
28,male,group C,some college,standard,none,71,65,64
29,male,group C,some college,standard,completed,90,94,87
...,...,...,...,...,...,...,...,...
70,male,group C,associate's degree,standard,none,50,48,43
71,male,group B,some high school,standard,none,79,78,72
72,male,group C,associate's degree,standard,completed,95,91,90
73,male,group B,some college,standard,none,52,45,39
74,male,group C,associate's degree,free/reduced,completed,83,90,87
75,male,group D,associate's degree,standard,completed,92,96,93
76,female,group C,high school,standard,none,55,55,58
77,female,group D,some college,standard,completed,74,83,82
78,female,group E,bachelor's degree,standard,none,93,89,91
79,male,group C,high school,standard,none,90,83,81
80,female,group B,bachelor's degree,standard,none,55,70,68
81,male,group D,high school,standard,none,65,63,57
82,female,group E,some high school,free/reduced,none,60,75,71
83,female,group D,some high school,standard,none,66,65,71
84,male,group D,some college,standard,none,65,68,71
85,male,group E,some high school,standard,completed,87,74,75
86,female,group B,high school,standard,none,76,68,66
87,male,group C,bachelor's degree,standard,none,64,76,70
88,female,group B,associate's degree,free/reduced,none,75,89,87
89,male,group D,some college,free/reduced,completed,49,55,59
90,female,group B,some high school,standard,completed,67,78,85
91,male,group C,some college,standard,completed,75,62,64
92,male,group B,bachelor's degree,standard,none,79,65,66
93,male,group C,some college,standard,completed,92,82,85
94,male,group C,some high school,standard,none,58,57,52
95,female,group C,bachelor's degree,standard,none,62,59,61
96,female,group C,associate's degree,standard,completed,84,100,98
97,male,group C,some college,free/reduced,none,42,43,38
98,male,group B,high school,free/reduced,none,41,51,40
99,male,group C,bachelor's degree,standard,completed,72,78,77

In [12]:
print ("Math average is", examData['math score'].mean ())
print ("Reading average is", examData['reading score'].mean ())
print ("Writing average is", examData['writing score'].mean ())

Math average is 69.96
Reading average is 71.95
Writing average is 70.37

In [21]:
examData[['math score']] = preprocessing.scale(examData['math score'])
examData[['reading score']] = preprocessing.scale(examData['reading score'])
examData[['writing score']] = preprocessing.scale(examData['writing score'])
examData

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group C,associate's degree,standard,none,0.722685,0.495981,0.336738
1,female,group B,high school,standard,none,-1.378144,-1.044333,-0.859489
2,female,group D,associate's degree,free/reduced,none,-0.297718,0.064693,0.516172
3,female,group D,high school,free/reduced,none,-1.678263,-1.167559,-1.158545
4,female,group B,some college,standard,none,0.422567,0.619206,0.934851
5,female,group D,some college,free/reduced,completed,0.482591,0.249531,1.054474
6,male,group B,bachelor's degree,standard,completed,0.362543,0.126306,0.157304
7,female,group D,some college,standard,none,1.142851,1.728233,1.772209
8,female,group E,some high school,standard,completed,-0.357741,-0.428207,-0.500621
9,male,group B,high school,standard,none,-0.477789,-0.982721,-1.038923
10,male,group B,some college,free/reduced,none,-1.258097,-1.783684,-1.936092
11,male,group B,associate's degree,standard,none,1.322922,0.865657,0.695606
12,male,group C,some college,standard,completed,-0.417765,-1.044333,-0.560432
13,male,group D,high school,free/reduced,none,0.842733,0.372756,0.217115
14,male,group D,some college,free/reduced,completed,-0.477789,-0.243370,-0.201564
15,female,group E,master's degree,standard,none,-0.717884,-0.921108,-0.261375
16,female,group A,high school,standard,none,0.842733,0.988882,0.755417
17,male,group D,some high school,standard,none,-0.177670,-0.551433,-0.680055
18,male,group C,some college,standard,none,-2.038405,-2.831098,-2.534206
19,female,group E,some high school,free/reduced,none,0.842733,1.173720,0.875040
20,female,group C,associate's degree,standard,none,-1.018002,-0.366595,-0.321187
21,female,group C,some high school,standard,completed,0.062425,0.126306,0.336738
22,female,group E,some college,free/reduced,completed,0.962780,1.235332,1.413341
23,male,group B,bachelor's degree,standard,none,0.002401,0.187918,0.157304
24,male,group A,associate's degree,standard,none,0.662662,0.680819,0.276926
25,male,group A,some high school,standard,none,-1.498192,-1.660459,-1.517413
26,male,group D,some high school,standard,none,1.683065,0.988882,0.575983
27,female,group C,some high school,standard,none,0.182472,0.495981,0.336738
28,male,group C,some college,standard,none,0.062425,-0.428207,-0.380998
29,male,group C,some college,standard,completed,1.202875,1.358558,0.994662
...,...,...,...,...,...,...,...,...
70,male,group C,associate's degree,standard,none,-1.198073,-1.475621,-1.637036
71,male,group B,some high school,standard,none,0.542614,0.372756,0.097492
72,male,group C,associate's degree,standard,completed,1.502994,1.173720,1.174096
73,male,group B,some college,standard,none,-1.078026,-1.660459,-1.876281
74,male,group C,associate's degree,free/reduced,completed,0.782709,1.112107,0.994662
75,male,group D,associate's degree,standard,completed,1.322922,1.481783,1.353530
76,female,group C,high school,standard,none,-0.897955,-1.044333,-0.739866
77,female,group D,some college,standard,completed,0.242496,0.680819,0.695606
78,female,group E,bachelor's degree,standard,none,1.382946,1.050495,1.233908
79,male,group C,high school,standard,none,1.202875,0.680819,0.635794
80,female,group B,bachelor's degree,standard,none,-0.897955,-0.120145,-0.141753
81,male,group D,high school,standard,none,-0.297718,-0.551433,-0.799677
82,female,group E,some high school,free/reduced,none,-0.597836,0.187918,0.037681
83,female,group D,some high school,standard,none,-0.237694,-0.428207,0.037681
84,male,group D,some college,standard,none,-0.297718,-0.243370,0.037681
85,male,group E,some high school,standard,completed,1.022804,0.126306,0.276926
86,female,group B,high school,standard,none,0.362543,-0.243370,-0.261375
87,male,group C,bachelor's degree,standard,none,-0.357741,0.249531,-0.022130
88,female,group B,associate's degree,free/reduced,none,0.302519,1.050495,0.994662
89,male,group D,some college,free/reduced,completed,-1.258097,-1.044333,-0.680055
90,female,group B,some high school,standard,completed,-0.177670,0.372756,0.875040
91,male,group C,some college,standard,completed,0.302519,-0.613045,-0.380998
92,male,group B,bachelor's degree,standard,none,0.542614,-0.428207,-0.261375
93,male,group C,some college,standard,completed,1.322922,0.619206,0.875040
94,male,group C,some high school,standard,none,-0.717884,-0.921108,-1.098734
95,female,group C,bachelor's degree,standard,none,-0.477789,-0.797883,-0.560432
96,female,group C,associate's degree,standard,completed,0.842733,1.728233,1.652587
97,male,group C,some college,free/reduced,none,-1.678263,-1.783684,-1.936092
98,male,group B,high school,free/reduced,none,-1.738287,-1.290784,-1.816470
99,male,group C,bachelor's degree,standard,completed,0.122448,0.372756,0.396549

In [19]:
print ("Math average is", examData['math score'].mean ())
print ("Reading average is", examData['reading score'].mean ())
print ("Writing average is", examData['writing score'].mean ())

Math average is -5.689893001203927e-18
Reading average is 1.3322676295501878e-17
Writing average is -1.7763568394002505e-17

In [24]:
labelEncoder = preprocessing.LabelEncoder () 
examData['gender'] = labelEncoder.fit_transform (examData['gender'].astype (str))

In [25]:
examData.head ()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,1,group C,associate's degree,standard,none,0.722685,0.495981,0.336738
1,0,group B,high school,standard,none,-1.378144,-1.044333,-0.859489
2,0,group D,associate's degree,free/reduced,none,-0.297718,0.064693,0.516172
3,0,group D,high school,free/reduced,none,-1.678263,-1.167559,-1.158545
4,0,group B,some college,standard,none,0.422567,0.619206,0.934851

In [27]:
labelEncoder.classes_

array(['female', 'male'], dtype=object)

In [28]:
pd.get_dummies (examData['race/ethnicity'])

    group A  group B  group C  group D  group E
0         0        0        1        0        0
1         0        1        0        0        0
2         0        0        0        1        0
3         0        0        0        1        0
4         0        1        0        0        0
5         0        0        0        1        0
6         0        1        0        0        0
7         0        0        0        1        0
8         0        0        0        0        1
9         0        1        0        0        0
10        0        1        0        0        0
11        0        1        0        0        0
12        0        0        1        0        0
13        0        0        0        1        0
14        0        0        0        1        0
15        0        0        0        0        1
16        1        0        0        0        0
17        0        0        0        1        0
18        0        0        1        0        0
19        0        0        0        0        1
20        0        0        1        0        0
21        0        0        1        0        0
22        0        0        0        0        1
23        0        1        0        0        0
24        1        0        0        0        0
25        1        0        0        0        0
26        0        0        0        1        0
27        0        0        1        0        0
28        0        0        1        0        0
29        0        0        1        0        0
..      ...      ...      ...      ...      ...
70        0        0        1        0        0
71        0        1        0        0        0
72        0        0        1        0        0
73        0        1        0        0        0
74        0        0        1        0        0
75        0        0        0        1        0
76        0        0        1        0        0
77        0        0        0        1        0
78        0        0        0        0        1
79        0        0        1        0        0
80        0        1        0        0        0
81        0        0        0        1        0
82        0        0        0        0        1
83        0        0        0        1        0
84        0        0        0        1        0
85        0        0        0        0        1
86        0        1        0        0        0
87        0        0        1        0        0
88        0        1        0        0        0
89        0        0        0        1        0
90        0        1        0        0        0
91        0        0        1        0        0
92        0        1        0        0        0
93        0        0        1        0        0
94        0        0        1        0        0
95        0        0        1        0        0
96        0        0        1        0        0
97        0        0        1        0        0
98        0        1        0        0        0
99        0        0        1        0        0

[100 rows x 5 columns]

In [29]:
examData = pd.get_dummies (examData, columns = ['race/ethnicity'])

In [30]:
examData

,gender,parental level of education,lunch,test preparation course,math score,reading score,writing score,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E
0,1,associate's degree,standard,none,0.722685,0.495981,0.336738,0,0,1,0,0
1,0,high school,standard,none,-1.378144,-1.044333,-0.859489,0,1,0,0,0
2,0,associate's degree,free/reduced,none,-0.297718,0.064693,0.516172,0,0,0,1,0
3,0,high school,free/reduced,none,-1.678263,-1.167559,-1.158545,0,0,0,1,0
4,0,some college,standard,none,0.422567,0.619206,0.934851,0,1,0,0,0
5,0,some college,free/reduced,completed,0.482591,0.249531,1.054474,0,0,0,1,0
6,1,bachelor's degree,standard,completed,0.362543,0.126306,0.157304,0,1,0,0,0
7,0,some college,standard,none,1.142851,1.728233,1.772209,0,0,0,1,0
8,0,some high school,standard,completed,-0.357741,-0.428207,-0.500621,0,0,0,0,1
9,1,high school,standard,none,-0.477789,-0.982721,-1.038923,0,1,0,0,0
10,1,some college,free/reduced,none,-1.258097,-1.783684,-1.936092,0,1,0,0,0
11,1,associate's degree,standard,none,1.322922,0.865657,0.695606,0,1,0,0,0
12,1,some college,standard,completed,-0.417765,-1.044333,-0.560432,0,0,1,0,0
13,1,high school,free/reduced,none,0.842733,0.372756,0.217115,0,0,0,1,0
14,1,some college,free/reduced,completed,-0.477789,-0.243370,-0.201564,0,0,0,1,0
15,0,master's degree,standard,none,-0.717884,-0.921108,-0.261375,0,0,0,0,1
16,0,high school,standard,none,0.842733,0.988882,0.755417,1,0,0,0,0
17,1,some high school,standard,none,-0.177670,-0.551433,-0.680055,0,0,0,1,0
18,1,some college,standard,none,-2.038405,-2.831098,-2.534206,0,0,1,0,0
19,0,some high school,free/reduced,none,0.842733,1.173720,0.875040,0,0,0,0,1
20,0,associate's degree,standard,none,-1.018002,-0.366595,-0.321187,0,0,1,0,0
21,0,some high school,standard,completed,0.062425,0.126306,0.336738,0,0,1,0,0
22,0,some college,free/reduced,completed,0.962780,1.235332,1.413341,0,0,0,0,1
23,1,bachelor's degree,standard,none,0.002401,0.187918,0.157304,0,1,0,0,0
24,1,associate's degree,standard,none,0.662662,0.680819,0.276926,1,0,0,0,0
25,1,some high school,standard,none,-1.498192,-1.660459,-1.517413,1,0,0,0,0
26,1,some high school,standard,none,1.683065,0.988882,0.575983,0,0,0,1,0
27,0,some high school,standard,none,0.182472,0.495981,0.336738,0,0,1,0,0
28,1,some college,standard,none,0.062425,-0.428207,-0.380998,0,0,1,0,0
29,1,some college,standard,completed,1.202875,1.358558,0.994662,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
70,1,associate's degree,standard,none,-1.198073,-1.475621,-1.637036,0,0,1,0,0
71,1,some high school,standard,none,0.542614,0.372756,0.097492,0,1,0,0,0
72,1,associate's degree,standard,completed,1.502994,1.173720,1.174096,0,0,1,0,0
73,1,some college,standard,none,-1.078026,-1.660459,-1.876281,0,1,0,0,0
74,1,associate's degree,free/reduced,completed,0.782709,1.112107,0.994662,0,0,1,0,0
75,1,associate's degree,standard,completed,1.322922,1.481783,1.353530,0,0,0,1,0
76,0,high school,standard,none,-0.897955,-1.044333,-0.739866,0,0,1,0,0
77,0,some college,standard,completed,0.242496,0.680819,0.695606,0,0,0,1,0
78,0,bachelor's degree,standard,none,1.382946,1.050495,1.233908,0,0,0,0,1
79,1,high school,standard,none,1.202875,0.680819,0.635794,0,0,1,0,0
80,0,bachelor's degree,standard,none,-0.897955,-0.120145,-0.141753,0,1,0,0,0
81,1,high school,standard,none,-0.297718,-0.551433,-0.799677,0,0,0,1,0
82,0,some high school,free/reduced,none,-0.597836,0.187918,0.037681,0,0,0,0,1
83,0,some high school,standard,none,-0.237694,-0.428207,0.037681,0,0,0,1,0
84,1,some college,standard,none,-0.297718,-0.243370,0.037681,0,0,0,1,0
85,1,some high school,standard,completed,1.022804,0.126306,0.276926,0,0,0,0,1
86,0,high school,standard,none,0.362543,-0.243370,-0.261375,0,1,0,0,0
87,1,bachelor's degree,standard,none,-0.357741,0.249531,-0.022130,0,0,1,0,0
88,0,associate's degree,free/reduced,none,0.302519,1.050495,0.994662,0,1,0,0,0
89,1,some college,free/reduced,completed,-1.258097,-1.044333,-0.680055,0,0,0,1,0
90,0,some high school,standard,completed,-0.177670,0.372756,0.875040,0,1,0,0,0
91,1,some college,standard,completed,0.302519,-0.613045,-0.380998,0,0,1,0,0
92,1,bachelor's degree,standard,none,0.542614,-0.428207,-0.261375,0,1,0,0,0
93,1,some college,standard,completed,1.322922,0.619206,0.875040,0,0,1,0,0
94,1,some high school,standard,none,-0.717884,-0.921108,-1.098734,0,0,1,0,0
95,0,bachelor's degree,standard,none,-0.477789,-0.797883,-0.560432,0,0,1,0,0
96,0,associate's degree,standard,completed,0.842733,1.728233,1.652587,0,0,1,0,0
97,1,some college,free/reduced,none,-1.678263,-1.783684,-1.936092,0,0,1,0,0
98,1,high school,free/reduced,none,-1.738287,-1.290784,-1.816470,0,1,0,0,0
99,1,bachelor's degree,standard,completed,0.122448,0.372756,0.396549,0,0,1,0,0

In [31]:
examData = pd.get_dummies (examData, columns = ['parental level of education', 'lunch', 'test preparation course'])

In [33]:
examData.head ()

,gender,math score,reading score,writing score,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_free/reduced,lunch_standard,test preparation course_completed,test preparation course_none
0,1,0.722685,0.495981,0.336738,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1
1,0,-1.378144,-1.044333,-0.859489,0,1,0,0,0,0,0,1,0,0,0,0,1,0,1
2,0,-0.297718,0.064693,0.516172,0,0,0,1,0,1,0,0,0,0,0,1,0,0,1
3,0,-1.678263,-1.167559,-1.158545,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1
4,0,0.422567,0.619206,0.934851,0,1,0,0,0,0,0,0,0,1,0,0,1,0,1